#about {
    background-color:var(--mainColor);
    padding-block:5rem ;
    min-height:90vh;
}

#about .space {
    height: 5px;
    width:200px;
    background-color:#FFF;
}

#about .space .star {
    position: relative;
    color:#FFF;
    font-size: 15px;
    background-color: var(--mainColor);
    padding:10px;
    width: fit-content;
    border-radius: 50%;
    left:calc(50% - 20px);
    top:-20px;
}

#about .h1 {
    font-weight: 700;
}